# *************************************************************************** #
#                                                                             #
#                                                        :::      ::::::::    #
#    .env.example                                      :+:      :+:    :+:    #
#                                                    +:+ +:+         +:+      #
#    By: maprunty <maprunty@student.42heilbronn.d  +#+  +:+       +#+         #
#                                                +#+#+#+#+#+   +#+            #
#    Created: 2026/04/25 04:57:14 by maprunty         #+#    #+#              #
#    Updated: 2026/04/25 05:12:58 by maprunty        ###   ########.fr        #
#                                                                             #
# *************************************************************************** #

MATRIX_MODE="development"  # or "production"
DATABASE_URL=connection_string.data_storage
API_KEY=SecretKeyForExternalServices
LOG_LEVEL=debug
ZION_ENDPOINT=www.resistance_network.org
